<div class="container">
  <h2>Student Dashboard</h2>

  <div *ngFor="let student of students"
       class="card"
       [ngClass]="{ 'topper': student.marks >= 90 }"
       [appHighlight]="student.marks">

    <h3>{{ student.name }}</h3>
    <p>Marks: {{ student.marks }}</p>

    
    <p *ngIf="student.marks >= 50; else failBlock"
       [ngStyle]="{ color: 'green' }"
       [appStatus]="student.marks">
       Status: Pass
    </p>

    <ng-template #failBlock>
      <p [ngStyle]="{ color: 'red' }"
         [appStatus]="student.marks">
         Status: Fail
      </p>
    </ng-template>

    
    <div [ngSwitch]="getGrade(student.marks)">
      <p *ngSwitchCase="'A'">Grade: A</p>
      <p *ngSwitchCase="'B'">Grade: B</p>
      <p *ngSwitchCase="'C'">Grade: C</p>
      <p *ngSwitchDefault>Grade: F</p>
    </div>

  </div>
</div>