.container {
  width: 400px;
  margin: 40px auto;
  font-family: Arial;
  text-align: center;
}

.admin-panel {
  background: #ffeeba;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

.user-panel {
  background: #d4edda;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}