*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:'Segoe UI',sans-serif;
background:#f1f5f9;
color:#1e293b;
}



.navbar{
background:#0f172a;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 40px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.logo{
font-size:20px;
font-weight:bold;
}

.nav-links a{
color:white;
margin-left:25px;
text-decoration:none;
font-weight:500;
transition:0.3s;
}

.nav-links a:hover{
color:#38bdf8;
}

.nav-links .active{
color:#38bdf8;
}



.container{
padding:40px;
max-width:1200px;
margin:auto;
}

h1{
margin-bottom:20px;
}



.search-bar{
margin-bottom:25px;
}

.search-bar input{
padding:12px;
width:260px;
border-radius:8px;
border:1px solid #cbd5f5;
}

.search-bar button{
padding:12px 18px;
margin-left:10px;
background:#3b82f6;
border:none;
color:white;
border-radius:8px;
cursor:pointer;
}

.search-bar button:hover{
background:#2563eb;
}



.course-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
}



.course-card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
transition:0.3s;
}

.course-card:hover{
transform:translateY(-5px);
box-shadow:0 12px 25px rgba(0,0,0,0.15);
}

.course-card h3{
color:#2563eb;
margin-bottom:10px;
}



button{
background:#2563eb;
color:white;
border:none;
padding:10px 16px;
border-radius:6px;
cursor:pointer;
margin-top:10px;
font-weight:500;
}

button:hover{
background:#1d4ed8;
}



.admin-form{
background:white;
padding:20px;
border-radius:10px;
margin-bottom:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.admin-form input{
padding:10px;
margin:6px;
border:1px solid #cbd5f5;
border-radius:6px;
}



.history-btn{
background:#10b981;
}

.history-btn:hover{
background:#059669;
}

.history-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
margin-top:20px;
}

.history-card{
background:white;
padding:18px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.status-active{
color:#16a34a;
font-weight:600;
}

.status-dropped{
color:#dc2626;
font-weight:600;
}